# Dependencies
/vendor/

# Binaries
/bin/
/server
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment variables (Sensitive)
.env
.env.local
.env.*.local
! .env.example

# Firebase service account keys
/secrets/
*.json


# Build outputs
/dist/

# Logs
*.log
